.footerContainer{
  display: flex;  
  line-height: 35px;
  height: 3rem;
  

  align-items: center;
  justify-content: center;
  gap: 2rem;

  background-color: var(--color-dark4);
  color: var(--color-purple);
  font-weight: bold;

  border-top: 1px solid var(--color-purple);

  
}

#socialLinks{
  list-style: none;
  padding: 0;
  
  display: flex;
  align-items: center;

  gap: 0.5rem;

  justify-content: center;

  img{
    max-height: 1.5rem;
    max-height: 2rem;
    display: flex;
  }


}


.link{
  color: white;
  
}

